# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
venv/
env/
ENV/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# Data files (VERY IMPORTANT)
# =========================
data/
Data/
datasets/
*.csv
*.zip
*.tar.gz
*.h5
*.hdf5

# =========================
# Model files
# =========================
*.pt
*.pth
*.ckpt
*.model
*.pkl

# =========================
# Logs & outputs
# =========================
logs/
*.log
outputs/

# =========================
# IDE / OS files
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db

# =========================
# Misc
# =========================
*.tmp
*.swp

saved_summary_model/

*.safetensors

*.safetensors

saved_summary_model/

08_Transformer/TextSummarizerApp/saved_summary_model/
